@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #af8670;
  --tertiary-color: #d1d0c2;
  --quartenary-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--quartenary-color);
}
header {
  text-align: center;
  padding: 16px 0;
  background-color: var(--tertiary-color);
}
nav > a {
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-family: "Krona One", sans-serif;
  color: var(--secondary-color);
  margin: 16px;
}
nav > a:hover {
  color: var(--quartenary-color);
}
main {
  padding: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}
.conteudo {
  display: flex;
  flex-direction: column;
  font-family: "Krona One", sans-serif;
  gap: 20px;
}
.titulo {
  font-size: 36px;
}
.titulo > strong {
  color: var(--secondary-color);
}
.descricao > p {
  font-size: 24px;
}
.links {
  display: flex;
  justify-content: space-between;
}
.link {
  text-align: center;
  text-decoration: none;
  padding: 16px 0;
  width: 260px;
  background-color: var(--tertiary-color);
  border-radius: 16px;
  color: var(--secondary-color);
}

.img_perfil {
  border-radius: 16px;
  border: 2px solid var(--secondary-color);
}
